body {
  margin: 50px;
  background-image: url("record.png");
  background-color: #cce6ff;
}



.top {
  background-color: blue;
  text-align: center;
}

.header-text {
  color: white;
}

.middle {
  background-color: lightgrey;
  padding: 25px;
}
